* {
  box-sizing: border-box;
}

.layout {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}

h1,
h3 {
  margin: 0;
}

.layout_title {
  font-size: 48px;
}

h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.layout_header {
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;

}

.layout_header,
footer {
  background-color: #22272B;
}


article {
  text-align: center;
}

article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.05);
}

a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;

}


footer {
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 5px;
}




/* Begin styling the report items here! */
.reports {

  display: flex;
  flex-flow: row wrap;
  gap: 30px;

}



/*  MEDIA QUERIES  */



@media all and (max-width: 768px) {

  .reports {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}